<div class="flex flex-col justify-around relative  w-11/12 items-center">
    <form [formGroup]="formGroup" class="flex w-full h-12 items-center bg-slate-800 rounded-3xl">
        <input class="w-full rounded-3xl  px-5 text-gray-200 h-12 bg-slate-800 m-auto" formControlName="search"
            autocomplete="off" type="text" placeholder="Search" (click)="showCities = true">
        <div id="cities-list" *ngIf="showCities"
            class="flex w-full h-56 absolute top-14 overflow-auto items-start bg-slate-600 rounded-3xl">
            <span (click)="showCities=false"
                class="text-3xl text-gray-200 hover:text-gray-400 cursor-pointer absolute right-3">X</span>
            <ul class="pl-5">
                <li class="mb-1 hover:text-slate-400 hover:cursor-pointer w-full text-gray-200 text-2xl"
                     *ngFor="let city of filteredCities" (click)="onCitySelected(city)">{{city}}
                </li>
            </ul>
        </div>
    </form>

    <div class="flex flex-row justify-between w-11/12 items-center px-5">
        <div class="flex flex-col justify-between h-32">
            <span class="text-4xl text-gray-200 ">{{city}}</span>
            <span class=" text-gray-200 text-4xl">{{temperature}}℃</span>
        </div>

        <img *ngIf="iconID" src="../../assets/icons/{{iconID}}.png" alt="Weather icon">
    </div>
</div>