<div class="bg-slate-300 flex flex-col pt-10 items-center m-auto mt-20  w-1/3 rounded-3xl h-96">
    <p class="text-slate-900 text-xl">Welcome to Weather Forecast Website!</p>
    <p class="text-yellow-700">Please Sign In</p>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit"
        class="flex flex-col justify-between items-center m-auto w-1/2 h-40" action="">
        <input formControlName="username" class="p-2 text-gray-200 rounded-3xl bg-slate-900" type="text"
            placeholder="Username">
        <input formControlName="password" class="p-2 text-gray-200 rounded-3xl bg-slate-900" type="password"
            placeholder="Password">
        <button (click)="onSubmit()" routerLink="/map"
            class="text-slate-900 border-b border-b-slate-300 hover:border-b-slate-700 hover:text-slate-700 hover:border-b">Sign
            in</button>
        <span class="cursor-pointer text-slate-900  hover:text-red-700" routerLink="/password-recovery">Forgot
            Password?</span>
    </form>
</div>
<router-outlet></router-outlet>