<div class="flex flex-row justify-around w-11/12 h-48 items-center bg-slate-800 rounded-3xl">
    <div class="flex flex-col justify-around h-40">
        <div class="flex flex-col justify-around h-14">
            <span class="capitalize text-gray-500">humidity</span>
            <span class="text-gray-50 text-3xl"> {{humidity}}% </span>
        </div>
        <div class="flex flex-col justify-around h-14">
            <span class="capitalize text-gray-500">wind</span>
            <span class="text-gray-50 text-3xl">{{wind}} m/s</span>
        </div>

    </div>
    <div class="flex flex-col justify-around h-40">
        <div class="flex flex-col justify-around h-14">
            <span class="capitalize text-gray-500">pressure</span>
            <span class="text-gray-50 text-3xl">{{pressure}}mb</span>
        </div>
        <div class="flex flex-col justify-around h-14">
            <span class="capitalize text-gray-500">precipitation</span>
            <span class="text-gray-50 text-3xl"> {{precipitation}} mm/hr </span>
        </div>
    </div>
</div>

<!-- id: 1,
country: 'Georgia',
city: 'Tbilisi',
gmt: 'UTC +4H',
weatherType: 'Cloudy',
temperature: 11,
humidity: 52,
pressure: 1020,
wind: 29,
precipitation: 7, -->