<div class="flex flex-row justify-evenly py-3 items-center bg-slate-800 rounded-3xl">
    <div class="flex flex-col justify-around">
        <div class="flex flex-col justify-around mb-3">
            <span class="capitalize text-gray-500">humidity</span>
            <span class="text-gray-50 text-3xl"> {{humidity}}% </span>
        </div>
        <div class="flex flex-col justify-around">
            <span class="capitalize text-gray-500">wind</span>
            <span class="text-gray-50 text-3xl">{{wind}} m/s</span>
        </div>

    </div>
    <div class="flex flex-col justify-around">
        <div class="flex flex-col justify-around mb-3">
            <span class="capitalize text-gray-500">pressure</span>
            <span class="text-gray-50 text-3xl">{{pressure}}mb</span>
        </div>
        <div class="flex flex-col justify-around">
            <span class="capitalize text-gray-500">precipitation</span>
            <span class="text-gray-50 text-3xl"> {{precipitation}} mm/hr </span>
        </div>
    </div>
</div>
